@font-face {
  font-family: 'Perfect DOS';
  src: url('perfect_dos.woff2') format('woff2');
}

:root {
  font-family: 'Perfect DOS', monospace;
  font-size: 20px;
  color-scheme: dark;
}

* {
  all: revert;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  overscroll-behavior: none;
}

p {
  margin: 0;
}

html {
  background: darkblue;
  color: white;
}

body {
  margin: 0;
  padding: 10px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  text-align: center;

  p {
    margin: 5px;
  }
}

main {
  border: 5px double white;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  & > section {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px 30px;

    p {
      white-space: pre;
    }
  }
}

#stats {
  border-bottom: 2px solid white;
}
#controls {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#tempChart {
  letter-spacing: 2px;

  &.low { color: aqua; }
  &.medium { color: gold; }
  &.high { color: darkorange; }
  &.veryHigh { color: orangered; }
  &.horrible { color: crimson; }
}

nav {
  display: flex;
  flex: 1;
  overflow-y: hidden;

  section {
    color: gold;
    flex: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

    &:last-of-type {
      border-left: 2px solid white;
    }

    p:not(.assistant) {
      color: olive;
    }
  }
}

body:not(:has(#chat.open)) nav section p.selected {
  color: white;
  background-color: crimson;

  &:not(.assistant) {
    color: lightgray;
    background-color: maroon;
  }
}

output {
  padding: 40px;
  text-align: center;
  color: gold;
}

dialog {
  border: 4px double white;
  background: darkblue;
  box-shadow: 10px 10px 0 black;
  max-width: 600px;
  z-index: 10;

  &::backdrop {
    background: none;
  }

  &:has(p:nth-of-type(2)) p:first-of-type {
    margin-bottom: 10px;
  }

  div {
    text-align: center;
    margin-top: 20px;

    span {
      background-color: crimson;
    }
  }
}

#chat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: 4px double white;
  background: darkblue;
  box-shadow: 10px 10px 0 black;
  width: 500px;
  height: 700px;
  max-width: calc(100vw - 100px);
  max-height: calc(100dvh - 100px);
  display: none;
  flex-direction: column;

  &.open {
    display: flex;
  }

  header {
    border-bottom: 2px solid white;
    position: relative;
  }

  #messages {
    padding: 10px;
    flex: 1;
    overflow-y: auto;

    p:not(.you) {
      position: relative;
      padding-left: 20px;
      margin-block: 20px;

      &:first-of-type {
        margin-top: 0;
      }

      &::before {
        content: '\0002';
        position: absolute;
        left: 0;
      }
    }

    p.you {
      position: relative;
      text-align: right;
      margin-block: 20px;
      color: gold;
    }
  }

  textarea {
    border: 0;
    background: none;
    font: inherit;
    width: 100%;
    border-top: 2px solid white;
    padding: 10px;
    color: gold;
    resize: none;
    field-sizing: content;
  }

  button {
    font: inherit;
    margin: 0;
    padding: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: white;
    color: darkblue;
    height: 1.3rem;
    width: 1.3rem;
    position: absolute;
    top: .1rem;
    right: .1rem;
    border: 0;
  }
}

@media (pointer: coarse) {
  #chat button {
    display: flex;
  }
}

#time {
  color: gold;
}
#maxTemp {
  color: gold;
}

@media (max-width: 768px) {
  main > section {
    grid-template-columns: 1fr !important;
  }

  nav {
    flex-direction: column;

    section {
      flex: none;

      &:last-of-type {
        padding-top: 0;
        border-left: none;
      }
    }
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  #tempChart {
    font-size: 9px;
  }
  #chat {
    bottom: 20px;
    right: 20px;
    max-width: calc(100vw - 40px);
    max-height: calc(100dvh - 40px);
  }
}
